<div>
    <h1>About Us</h1>
    <p>Instaghub is an advanced Instagram marketing platform, aiming at helping brands, advertisers, and publishers find and explore the latest trends of hashtags, users, photos and videos on Instagram.</p>
</div>
