/* This file is for your main application css. */

@import "./phoenix.css";

* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.container {
    max-width: 100%;
}

.grid {
    max-width: 100%;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-sizer { width: 33.333%; }

/* ---- grid-item ---- */

.grid-item {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 0 1px #e7e7e7;
    margin-bottom: 10px;
    padding: 20px;
}

@media (max-width: 684px) {
    .grid-item {
        width: 100%;
        padding: 0;
    }
}

.page {
    display: none;
}

.has-next-page {
    display: none;
}

.next-page {
    text-align: center;
    font-size: x-large;
    font-weight: 100;
    animation: blinker 1s linear infinite;
    padding-top: 20px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.grid-media {
    position: relative;
    height: auto;
}

.grid-media-type {
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: white;
    font-size: larger;
}

.grid-media-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, .4)
}

.video {
    font-size: -webkit-xxx-large;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    width: 150px;
    height: 100px;
    z-index: 10;
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.video-play-counts {
    font-size: medium;
    margin-left: -13%;
    margin-top: -5%;
}

.image {
    font-size: x-large;
}

.grid-caption {
    margin: 0;
}

.grid-caption > p {
    margin: 0;
}

.grid-stats {
    display: flex;
    font-size: small;
    justify-content: space-between;
}

.grid-stats-likes {
    margin-right: 2px;
}

.grid-stats-comments {
    margin-right: 2px;
}

.grid-stats-created {
    font-size: small;
    margin: 0;
}

.line{
    width: 100%;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
}

.grid-stats-download {
}

/*navigation bar*/
.nav {
    margin: auto;
    width: 96%;
}

.nav form {
    margin-bottom: 0px;
}

.custom-wrapper {
    /* background-color: #ffd390; */
    font-weight: 700;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 2.1em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.custom-wrapper.open {
    height: 23em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {
    .custom-menu-3 {
        text-align: left;
    }
    .custom-toggle {
        display: block;
    }
}

/*post comment*/
.post-comment-media {
    width: 100%;
    padding: 0;
}

.post-comment-media img {
    width: 100%;
}

.post-comment-media video {
    width: 100%;
}

.post-comment-info .owner {
    height: auto;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    padding: 15px 0;
}

.post-comment-info .info {
    padding-left: 10px;
}

.post-comment-info .owner img {
    display: inline-block;
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

.post-comment-info .owner p {
    display: block;
    margin: 0;
}

.post-comment-info .comments .head {
    margin: 20px 0;
    font-weight: bold;
    font-size: larger;
}

.post-comment-info .comments .comment-user {
    margin-bottom: 10px;
}

.post-comment-info .comments .comment-user img {
    width: 50px;
    height: 50px;
}

.post-comment-info .comments .comment-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

@media (max-width: 684px) {
    .post-comment-info .owner img {
        width: 60px;
        height: 60px;
    }
}

.user-profile p {
    margin: 0;
}

.ads {
    min-width: 250px;
    min-height: 250px;
    max-height: 800px;
    height: auto;
    overflow:hidden;
}

/* hidden infolinks IL_IN_CONTENT AD */
input[name="IL_IN_CONTENT"]+div {
    display: none !important;
}
