/* This file is for your main application css. */

@import "./phoenix.css";

* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
    max-width: 100%;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */

.grid-item {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-bottom: 20px;
    background-color: #fff;
    border-color: #e7e7e7;
    border-style: solid;
    border-width: 1px 0;
    overflow: hidden;
    text-align: left;
    box-shadow: 0 0 1px #e7e7e7;
    float: left;
    border: 1px solid #333;
    border-color: hsla(0, 0%, 0%, 0.2);
    border-radius: 3px;
    margin-left: 2px;
    margin-bottom: 20px;
}

.page {
    display: none;
}

.grid-media {
    position: relative;
    min-height: 300px;
}

.grid-caption {
    margin-bottom: -10px;
}

.grid-stats {
    display: flex;
}

.grid-stats-likes {
    margin-right: 2px;
}

.grid-stats-comments {
    margin-right: 2px;
}

.grid-stats-created {
    margin-right: 2px;
}

.grid-stats-download {
}
